[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TrueCrypt
GenericName=
Comment=Disk encryption software
Icon=truecrypt
Exec=truecrypt
Categories=System;
MimeType=
