[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Blender
GenericName=
Comment=3D Content Renderer
Icon=blender
Exec=blender
Categories=GTK;AudioVideo;Audio;Video;
MimeType=
