[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Bricscad
GenericName=
Comment=2D and 3D CAD software
Icon=bricscad
Exec=bricscad %U
Categories=Graphics;
MimeType=image/vnd.dwg;image/vnd.dxf;
