[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Meteorite
GenericName=
Comment=Matroska/MKV repair engine
Icon=meteorite
Exec=meteorite
Categories=AudioVideo;Video;
MimeType=video/x-matroska;
